.top{
    background-color:#caf0f8;
    padding-top:100px ;
}
body{
    margin:0 ;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
}
.o{
    font-size:2.2rem;
    margin-top:10px ;
    font-weight: normal;
    color:teal ;
     
}
h1{
    font-size: 562.2%;
    margin:-20px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:teal ;
    

}
.bottom-cloud{
    position: absolute;
   
}
.top-cloud{
    position:relative;
    left:320px;
    
}
.l{
    height:300px ;
    width: 300px;
}
.chess{
    height:200px ;
    width: 200px;
    float: left;
    margin-right: 20px;
    
    
}
.r{
    height:200px ;
    width: 200px;
    float: right;
    margin-left: 20px;
    
}
.skill-row{
    width: 50%;
    margin: 200px auto 90px auto;
    text-align: left;
    line-height: 2;
   
   
}
hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 10px;
    width: 5%;
    height: 0;
    border-end-start-radius: 0;
    
}
.pp{
    padding-bottom:20px;
}
.mo{
    margin-bottom: 0px;
    
}
.t{
    margin-top: 130px;
    margin-bottom: 50px;

}
.we{
    margin-top: 70px;
    margin-bottom: -70px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border: solid #0d8bd9 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #185f8c);
    background-image: -moz-linear-gradient(top, #3cb0fd, #185f8c);
    background-image: -ms-linear-gradient(top, #3cb0fd, #185f8c);
    background-image: -o-linear-gradient(top, #3cb0fd, #185f8c);
    background-image: linear-gradient(to bottom, #3cb0fd, #185f8c);
    text-decoration: none;
  }
  .bottom-container{
margin-top: 40px;
background-color:#66bfbf ;
padding:40px 0 20px ;
  }
  a{
    color: #11999e;
    margin:20px 10px ;
    text-decoration: none;
  }
a:hover{
    color: aliceblue;
}
.copyright{
    font-size: 0.9rem;
    color:aliceblue;
}

